@import "../../variables";

.page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    width: 100%;

    .navbarbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .toolsbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .icon {
        height: 26px;
        width: 26px;
    }
    .text {
        font-size: 20px;
        font-size: 18px;
        font-weight: bold;
    }

    .searchbutton {
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border-radius: 6px;
        color: #fff;
        font-size: 14px;

        svg {
            fill: #fff;
            height: 26px;
            width: 27px;
            transform: scale(0.8);
            overflow: hidden;
        }

        &:hover {
            color: $main-pink;

            svg {
                fill: $main-pink;
            }
        }
    }
    .highlightbutton {
        background: none;
        color: inherit;
        border: none;
        border-radius: 30px;
        height: 22px;
        width: 162px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: flex;
        padding: 18px 16px;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        gap: 14px;
        font-size: 18px;
        font-weight: bold;
    }
    .hightlight {
        display: flex;
        align-items: center;
    }
    .paperchatcontainer {
        display: grid;
        grid-template-columns: 1fr 2.2fr;
        height: 100%;
        gap: 20px;
        overflow: hidden;
    }
    .loader {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
