// .home{
//   color: pink;

//   &.home-wrap {

//   }
// }
.home {
    height: 100vh;
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    justify-content: right;

    button {
        color: rgb(255, 255, 255);
        width: 200px;
        height: 50px;
        background-color: #ffffff00;
        border-color: white;
        font-size: 20px;
        cursor: pointer;
        box-shadow: none;
        border-style: solid;
        background: transparent;
    }
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h1 {
        font-weight: 300;
        font-size: 60px;
        margin: 0px;
        margin-bottom: 10px;
    }
    .buttons {
        display: flex;
        gap: 20px;
        margin-right: 33px;
    }
    .box {
        flex-direction: column;
        align-items: center;
        display: flex;
        margin-bottom: 50px;
    }
    video {
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
