.pagecontainer {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
    .pagecontent {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;

        .allpapers {
            overflow-y: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .titletext {
            display: flex;
            margin-left: 20px;
        }
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
