.signuparea {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .box {
        background-color: #121212;
        width: 50%;
    }
    .signuptext {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 56px;
        font-size: 46px;
        display: flex;
    }
    .continuetext {
        font-size: 16px;
        padding-top: 18px;
        color: #ff0084;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 44px;
    }

    .email {
        display: flex;
        flex-direction: column;
        width: 418px;
        font-size: 16px;
        gap: 6px;
    }
    .name {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        gap: 30px;
        padding: 30px 0;
    }
    .namebox {
        display: flex;
        flex-direction: column;
        width: 190px;
        gap: 6px;
    }
    .lastbox {
        display: flex;
        flex-direction: column;
        width: 190px;
        gap: 6px;
    }
    .password {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        width: 418px;
        gap: 6px;
    }
    input {
        font-size: 20px;
        font-family: inherit;
        border: none;
        border-radius: 6px;
        padding: 9px;
    }
    input::placeholder {
        color: #dedede;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    .submitbutton {
        display: flex;
        padding-top: 40px;
    }
    button {
        width: 400px;
        height: 50px;
        background-color: black;
        color: white;
        font-family: inherit;
        outline: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        border-radius: 8px;
    }
    .signtext {
        padding: 40px;

        a,
        a:visited {
            color: #ff0084;

            &:hover {
                color: #fff;
            }
        }
    }
    .toptext {
        font-size: 22px;
        position: absolute;
        top: 196px;
    }
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
    }
}
