$bg-color: #0d0d0d;

//Messages Component
.messages {
    display: flex;
    flex-direction: column;
    border-color: white;
    height: 100%;
    overflow-y: auto;
    gap: 10px;
    padding: 12px 0;
    font-size: 16px;
    scroll-behavior: smooth;

    .message {
        padding: 15px 20px;
        border-radius: 8px;
        height: fit-content;

        ul {
            padding-inline-start: 15px;

            li {
                padding-top: 10px;

                &:first-of-type {
                    padding-top: 0;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
    p {
        margin: 0;
    }
    .userMessage {
        color: white;
        background-color: #ff0084;
        display: flex;
        flex-direction: column;
        align-items: end;
        width: fit-content;
        font-family: inherit;
        align-self: flex-end;
        border-bottom-right-radius: 0;
    }
    .aiMessage {
        color: rgb(0, 0, 0);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        font-family: inherit;
        border-bottom-left-radius: 0;
    }
}

//Input Component
.chatinput button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.chatinput {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    textarea {
        width: 100%;
        font-size: 18px;
        font-family: inherit;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        overflow: auto;
        // min-height: 50px;
        max-height: 100px;
    }
    button {
        background: black;
        color: inherit;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 50px;

        img {
            height: auto;
            width: auto;
        }
    }
    .hiddenCursor {
        display: none;
    }
}

//Chatbox Component
.chatpaperbox {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow: hidden;
}
