@import "../../variables";

.navbar {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 4px 0px;
    white-space: pre;
    margin-bottom: 10px;

    h1,
    a {
        text-decoration: none;
        color: #fff;
        font-size: 26px;
        font-weight: 400;
        margin: 0;
    }
}
