
/* HTML  */
*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  margin: 0px;
}
a{
  text-decoration: none;
  color: black;
}
/* Component: App.jsx */

.app-container {
  background-image: url('/src/backgroundpic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
/* Component: TopNavBar.jsx */

.top-nav-bar{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 18px 22px 0px 22px;
align-items: center;
height: 48px;
}
.top-nav-title{
  font-size: 32px;
}
/* Component: Menu.jsx  */

.top-nav-menu{
  display:flex;
  gap: 20px;
  cursor: pointer;
  height: 66px;
}
.closed-menu{
      display: flex;
      align-items: center;
  }
.top-nav-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 35px;
  font-weight: 200;
}
.hamburger-icon{
  height: 48px;
  width: 68px;
}
  .open-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    right: 0px;
    background-color: #dbfbfff7;
    width: 22%;
    top: 0px;
    align-items: flex-start;
    font-size: 22px;
  }
  .open-menu a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  } 
 .open-menu a svg {
  position: absolute;
    left: 42px;
 }
  .active{
    text-decoration:underline;
    color: black;
    width: fit-content; 
    display: flex;
  } 
  .close {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.48);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
.close svg{
  position: absolute;
  left: 42px;
}
.menu-icon{
  display: flex;
  height: 30px;
  width: 30px;
}
/* Component: Home.jsx */

.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  height: 100%;
  justify-content: center;
}

.welcome-to-text{
  font-size: 24px;
}
.expansive-mind-text{
  font-size: 68px;
  margin-left: 66px;
}
.button-content{
  display: flex;
  gap: 20px;
  margin-bottom: 10%;
}
.home-button{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color:#ffffff00;
  padding: 6px 30px;
  cursor: pointer;
}

/* Component: GetStarted.jsx */
.white-border-box{
  background-color: rgba(255, 255, 255, 0.76);
  display: flex;
      width: 88%;
      height: 88%;
      align-items: center;
      justify-content: center;
      margin: auto;
      flex-direction: column;
}
.research-topic-text{
  font-size: 30px;
}
.get-started-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 50px;
}
.search-container input {
  width: 100%;
  height: 38px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 9px;
  color: black;
  border: 2px solid black;
}
.search-container{
  width: 100%;
  max-width: 500px;
  position: relative;
}
.top-positioned {
 justify-content: flex-start;
 padding-top: 24px;
 gap: 28px;
}
.paper-results-area {
  display: flex;
      flex-direction: column;
      width: 100%;
      padding: 42px 60px 0px 30px;
}
.search-vline-icon-area{
  display: flex;
  position: absolute;
  right:10px;
  top: 0px;
  height: 100%;
}
.search-vline-icon-area svg {
  height: auto;
  width: auto;
}
.vertical-line svg {
  height: 60px;
}
.search-area{
  display: flex;
}
.search-icon {
  padding: 6px 0;
}

.paper-result {
  display: flex;
      flex-direction: column;
      margin-bottom: 20px;
}
.filter-by{
  display: flex;
      flex-direction: column;
      max-width: 194px;
      justify-content: flex-start;
      padding-left: 40px;
      gap: 20px;
      font-size: 20px;
      width: 100%;
}
.filter-by-text{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.checkbox {
width: 28px;
height: 28px;
background: #E7F8FF;
border: 2px solid black;
}
.checkboxes-area div{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.one-checkbox-area{
  gap: 10px;
}
.title-result{
  font-size: 22px;
  font-weight: 300;
}
.author-result{
  font-size: 16px;
  font-weight: 300;
}
.description-result{
margin-top: 14px;
font-size: 16px;
font-weight: 300;
}
.blue-color-text{
  color: #0AA5FF;
}
/* Component: ChatBot */
.main-paper-area{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.top-main-paper-area{
  display: flex;
  justify-content: space-between;
}
.back-to-search-area{
  display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 390px;
    gap: 10px;
    padding-bottom: 6px;
}
.back-to-search-area span {
  font-size: 22px;
  font-weight: 400;
}
.double-left-arrow-icon{
  height: 30px;
  cursor: pointer;
}
.tools-area{
     display: flex;
      gap: 20px;
      padding-right: 49px;
      justify-content: center;
      align-items: center;
}
.tools-area span {
  font-size: 20px;
  font-weight: 600;
}
.highlight-icon{
  height: 30px;
  cursor: pointer;
}
.download-icon{
  height: 30px;
  cursor: pointer;
}
.chat-bot-and-paper-area{
  display: flex;
  flex-direction: row;
  height: 88%;
  justify-content: center;
  gap: 20px;
}
.chat-bot-box-area{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 30%;

}
.paper-result-area{
  background-color: white;
  width: 60%;
}
.chat-bot-box-area{
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.chat-bot-box-grey{
  background-color: #1F1E1E;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  position: relative;
  height: 100%;
  width: 96%;
}
.chat-area{
  background: rgb(0, 0, 0);
  z-index: 2;
  position: relative;
  height: 83px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.chat{
  display: flex;
  justify-content: right;
  background-color: rgb(255, 255, 255);
height: 100%;
width: 100%;
}
.chat-enter{
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.double-up-arrow-icon {
  cursor: pointer;
}